body {
  font: 16px sans-serif;
  background-color: #282828;
  margin: 0px;
  padding: 0px;

}

.container {
  margin: auto;
  width: 1300px;
  background-color: #222;
}

.mainMenu {
  display: flex;
  justify-content: space-between;
}

.mainLogo {
  border-radius: 5px;
  size: 70px;
  margin: 10px;
  cursor: pointer;
}

.mainForm {
  margin: auto;
}

.mainInput {
  height: 30px;
  width: 350px;
  border-radius: 5px;
  border: none;
}

.mainButton {
  height: 32px;
  width: 40px;
  border-radius: 5px;
  border: none;
}

.fa-search {
  margin: 7px;
}

.mainLoading {
  margin: 2px;
  text-align: center;
  background-color: #fff;
  border-radius: 5px;
  width: 80px;
}

.twoContainer {
  display: flex;
  background-color: #000000;
  width: 1300px;

}

.leftMenu {
  background-color: #f1f1f1;
  width: 300px;
  position: sticky;
}

.choiceMenu {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  height: 200px;
  gap: 20px;
  color: #787777;
}

.rightMenu {
  background-color: #f1f1f1;
  width: 1000px;
  margin-left: 1px;
}

.infoForClient {

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 5px;
  height: 20px;

}

.loadingSearch {
  display: none;
  text-align: center;
  font-size: 16px;

}

.errorSearch {
  display: none;
  text-align: center;
  font-size: 16px;
  background-color: #dd6666;
  border: 1px rgb(199, 78, 78) solid;
  width: 250px;
}

.listOfFilms {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  margin: 10px;
}

@media (max-width: 1000px) {

  .listOfFilms {
    place-self: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
}

@media (max-width: 600px) {
  .listOfFilms {
    gap: 20px;
    place-self: center;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 300px) {
  .listOfFilms {

    place-self: center;
    grid-template-columns: 1fr;
  }
}


.cardOfFilm {
  display: flex;
  flex-direction: column;
  border: 1px rgb(41, 41, 41) solid;
  width: 200px;
  height: 300px;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
  background-color: #222;
  gap: 10px;
  cursor: pointer;
}

.posterOfFilm {
  width: 100%;
  height: 200px;
  overflow: hidden;
  margin-bottom: 20px;
}

.posterOfFilm img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.posterOfFilm img:hover {
  transform: scale(1.1);
  transition: 0.25s;
}

.nameOfFilm {
  color: #fff;
}

.ageOfFilm {
  color: #fff;
}

.choiceFilms {
  cursor: pointer;
}

.choiceFilms:hover {
  transform: scale(1.1);
  transition: 0.10s;
  color: #303030;
}

.choiceSeries {
  cursor: pointer;
}

.choiceSeries:hover {
  transform: scale(1.1);
  transition: 0.10s;
  color: #303030;
}


.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #616161cc;
  justify-content: center;
}


.modal {
  display: none;
  justify-content: center;
  margin: auto;
}

.modalClose {
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid black;
}

.modalCard {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px rgb(41, 41, 41) solid;
  width: 500px;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
  background-color: #222;
  gap: 10px;
}


.modalPosterOfFilm {
  width: 100%;
  height: 200px;
  overflow: hidden;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 5px;
}

.modalPosterOfFilm img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


.modalInfo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #fffcfc;
  gap: 10px;
  font-size: 19px;
}

.modalStory {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #f0efef;
  margin: 10px;
  font-size: 23px;
  font-weight:300;
  margin-bottom: 20px;
}

.modalGrade {
  margin: auto;
  width: 300px;
  border-radius: 5px;
  gap: 5px;
  display: flex;
  flex-direction: column;
}

.modalPosterOfFilm:hover {
  transition: 0.25s;
  transform: scale(1.1);
}

hr {
  width: 250px;
  border: 1px solid rgb(133, 133, 133);
}